
@import "photon/photon.scss";

.student-header {
  height: 1em;
  background-color: $border-color;
  border-bottom: 1px solid $dark-border-color;
  .pane-one-fourth {
    padding-left: $padding-less;
  }
}
