
@import "photon/photon.scss";

.sub-header {
  background-color: $border-color;
  border-bottom: 1px solid $dark-border-color;
  .page-title {
    // padding-left: 4px;
    font-weight: $font-weight-bold;
  }
  .error {
    color: red;
    padding-left: 12px;
    font-weight: $font-weight-bold;
  }
}

.video-page {
  background-color: #000;
  .page-title {
    color: $primary-color;
    font-weight: $font-weight-bold;
  }
}
.dropzone {
  background-color: #333;
  width: 100%;
  .drop-zone-text {
    color: white;
    font-weight: $font-weight-bold;
  }
}

progress {
  width: 100%;
}

.conditional-input {
  display: block;
  border-bottom: 1px solid $dark-border-color;
  margin-bottom: $padding-less;
}

span.currency-color {
  width: 5em;
  float: right;
  padding: 0px 5px 0px 5px;
  background-color: #cfc;
}
span.currency-color.yellow { background-color: #ffc; }
span.currency-color.orange { background-color: #fdb; }
span.currency-color.red { background-color: #fcc; }
span.currency-color.uncurrent { background-color: #f88; }

// photon overrides

.toolbar-actions {
  margin-top: 0;
  padding-top: 4px;
}

.form-control:required:invalid {
  border-color: $warning-color;
}

.pane-group, .pane {
  height: 100%;
}
.sub-pane-group {
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  .pane {
    // height: 100%;
  }
}

.list-group {
  * {
    // overflow:visible;
    white-space: pre-wrap;
  }
}

.media-body {
  // overflow: visible;
}
