
@import "photon/photon.scss";

.sub-header {
  background-color: $border-color;
  border-bottom: 1px solid $dark-border-color;
  span {
    padding-right: $padding-more;
  }
  .page-title {
    padding-left: 4px;
    font-weight: $font-weight-bold;
  }
}

// photon overrides

.toolbar-actions {
  margin-top: 0;
  padding-top: 4px;
}

.form-control:required:invalid {
  border-color: $warning-color;
}
